* {
  margin : 0;
  padding : 0;
}

ul {
list-style: none;
}

#dalia {
    width:1000px;
    margin: 10px auto;
}

#desktops {
    height:800px;
    width:800px;
}

#desktops ul li {
    width:375px;
    height:75px;
    padding : 5px;
    float:left;
    margin :5px;
    border:solid 1px black;
}

#desktops ul li span {
    display:block;
}

#desktops ul li span.position {
    text-align:right;
    padding-right:60px;
}
.assiociate {
    color:red;
}

#gallery { 
    float: left; 
    width: 65%; 
    min-height: 12em;
}

* html #gallery { 
    height: 12em; 
} /* IE6 */

.gallery.custom-state-active { 
    background: #eee; 
}

.gallery li { 
    float: left; 
    width: 96px; 
    padding: 0.4em; 
    margin: 0 0.4em 0.4em 0; 
    text-align: center; 
}

.gallery li h5 { 
    margin: 0 0 0.4em; 
    cursor: move;
}

.gallery li a { 
    float: right; 
}

.gallery li a.ui-icon-zoomin { 
    float: left; 
}

.gallery li img { 
    width: 100%; 
    cursor: move; 
}

#trash, #bin { 
    float: right; 
    width: 32%; 
    min-height: 18em; 
    padding: 1%;
    margin-left: 10px;
    background-color: #992222;
}

* html #trash, * html #bin { 
    height: 18em; 
} /* IE6 */

#trash h4, #bin h4  { 
    line-height: 16px; 
    margin: 0 0 0.4em; 
}

#trash h4 .ui-icon, #bin h4 .ui-icon { 
    float: left; 
}

#trash .gallery h5, #bin .gallery h5 { 
    display: none; 
}