* {
  margin : 0;
  padding : 0;
}

ul {
list-style: none;
}

.clear {
 clear: both;    
 height:0;
 line-height:0;
}


body {
      background-color: #eee;  
}
#dalia {
    width:1000px;
    margin: 10px auto;
}

#desktops {
    height:800px;
    width:800px;
}

#desktops ul li {
    width:375px;
    height:58px;
    padding : 5px;
    float:left;
    margin :5px;
    background-color: #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:solid 1px black;
}

#desktops ul li span {
    display:block;
}

#desktops ul li span.position {
    text-align:right;
    padding-right:60px;
    color: #427391;
}
#desktops ul li span.assiociate {
    color: #7e0000;
    padding-left : 10px;
    display: inline;
}

.anchor:hover {
    text-decoration:underline;
}

#postform {
   background-color: #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:solid 1px black; 
    width:400px;
    height:400px;
    padding : 10px;
    margin : 0px auto;
}

#postform h2 {
    text-align:center;   
}

#postform  div{
    margin : 20px;
}

#postform input ,
#postform textarea,
#postform select
 {
    width:300px;
}

#postform textarea  {
    height : 150px;
}

#alert {
    text-align:center;
    color:red;
    font-size : 16px;
    width : 800px;
}

#desktop {
   height:100px; 
}


#desktopPers {
    width:375px;
    height:80px;
    padding : 5px;
    float:left;
    margin :5px;
    background-color: #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:solid 1px black;
}

#desktopPers span {
    display:block;
}

#desktopPers span.position {
    text-align:right;
    padding-right:60px;
    color: #427391;
}

#desktopPers a:hover {
    text-decoration:none;
}

#gallery { 
    float: left; 
    width: 65%; 
    min-height: 12em;
}

* html #gallery { 
    height: 12em; 
} /* IE6 */

.gallery.custom-state-active { 
    background: #eee; 
}

.gallery li { 
    float: left; 
    width: 195px; 
    padding: 0.4em; 
    margin: 0 0.4em 0.4em 0; 
    text-align: center; 
    background-color: #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:solid 1px black;
}

.gallery li h5 { 
    margin: 0 0 0.4em; 
    cursor: move;
    font-size : 15px;
    font-weight:bold;
}

.gallery li span {
    display:block;
    margin: 10px 10px;
}
.gallery li a { 
    float: right; 
}

.gallery li a.ui-icon-zoomin { 
    float: left; 
}

.gallery li img { 
    width: 100%; 
    cursor: move; 
}

#trash, #bin { 
    float: right; 
    width: 200px; 
    min-height: 18em; 
    padding: 1%;
    margin-left: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:solid 1px black;
    background-color: #eee;
}

* html #trash, * html #bin { 
    height: 18em; 
} /* IE6 */

#trash h4, #bin h4  { 
    line-height: 16px; 
    margin: 0 0 0.4em; 
}

#trash h4 .ui-icon, #bin h4 .ui-icon { 
    float: left; 
}

#trash .gallery h5, #bin .gallery h5 { 
    display: none; 


.ui-state-highlight {
    background-color: #882222;
}
